*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
html{
    font-size: 63.5%;
}
body{
    background-color: black;
    position: relative;
}

header{
    width: 60vw;
    margin: auto;
    text-align: center;
}
header h2{
    color: white;
    font-size: 4.8rem;
    
}

header p{
    color: whitesmoke;
    font-size: 2.4rem;
    margin-top: 1rem;
    
}

main{
    width: 70vh;
    height: 70vh;
    border: 5px white solid;
    margin: auto;
    margin-top: 3rem;
    position: relative;
}
#player{
    width: 2%;
    height: 2%;

    background-color: blue;
    border: 1px solid white;

    position: absolute;

    top: 10%;
    left:10%;
}
.playerBody{
    width: 2%;
    height: 2%;

    background-color: lightblue;
    border: 1px solid white;

    position: absolute;
}
#fruit{
    width: 2%;
    height: 2%;
    border: 1px solid white;

    background-color: yellow; 
    position: absolute;
    top: 10%;
    left:12%;
}

.configButton{
    height: 5rem;
    width: 5rem;

    color: white;
    font-size: 3rem;
    cursor: pointer;

    position: absolute;
    top: 4rem;
    right: 4rem;



}
aside{ 
   
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: white;

    width: 35rem;
    height: 100vh;
    background-color: black;

    border-left: 4px solid rgba(255,255,255,0.5);
    

}
aside h3 span{
    
    display: inline-block;
    color: red;
    cursor: pointer;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
aside h3{
    font-size: 3.6rem;
    margin-top: 1rem;
    margin-left: 1rem;

}

aside p,
aside table{
    font-size: 2.4rem;
}
aside p{
    margin-top: 3rem;
    margin-left: 3rem;
}
aside p span{
    margin: 0 0.5rem;
}
aside p strong{
    font-size: 3rem;
}
.__cursor_pointer{
    cursor: pointer;
}
.__disabled{
    opacity: 0.5;
}

aside table{
    margin-top: 2rem;
    margin-left: 3rem;
    text-align: center;
}
aside table thead{
    font-size: 3rem;
}
aside table th:first-child{
    padding-right: 1rem ;
    
}
aside table th:last-child,
aside table td:last-child{
padding-left: 1rem ;
border-left: 4px solid rgba(255,255,255,0.5);

}
aside table {
    border-collapse: collapse;
}
aside table tbody tr td{
    padding: 0.5rem;
}
aside table tbody tr td:last-child{
    cursor: pointer;
}
